:root {
  --width: 80%;
  --max-width: 1024px;
  --theme-blue: #0091D5;
  --theme-gray: #f3f3f4;
}

body {
  font-family: "Helvetica Neue";
  background: var(--theme-gray);
  padding: 0;
  margin: 0;
}

.title {
  font-size: 16pt;
  font-weight: 600;
  background: var(--theme-blue);
  padding: 14px 20px;
  margin: 0 0 10px 0;
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}

.content {
  margin: 70px auto 0px;
  width: var(--width);
  max-width: var(--max-width);
}

.section {
  border-bottom: 1px solid #DADADA;
  box-shadow: 0px 1px #FFF;
  padding: 4px;
  margin: 6px 0;
}

.toolbar {
  text-align: center;
  width: var(--width);
  max-width: var(--max-width);
  margin: 0 auto 10px;
}

button, select {
  font-size: 14pt;
  background: #fff;
  padding: 6px 8px;
  margin: 4px;
  color: var(--theme-blue);
  border: 1px solid var(--theme-blue);
  border-radius: 5px;
}

select {
  color: #666;
  border: 1px solid #999;
}

button.tab {
  font-size: 12pt;
  background: var(--theme-gray);
  border-bottom: 1px solid var(--theme-blue);
  border-radius: 5px 5px 0 0;
  margin: 0;
  padding: 8px;
  cursor: pointer;
  box-shadow: inset 0px -2px 2px 0px #ddd;
}

button.tab.active {
  background: #fff;
  box-shadow: none;
  font-weight: 600;
  border-bottom: 1px solid transparent;
}

button.tab.disabled{
  color: #999;
  border-color: #999;
}

.tab-area {
  display: block;
  background-color: #FFF;
  min-height: 520px;
  width: 100%;
  margin: -1px auto;
  border: 1px solid var(--theme-blue);
  border-radius: 0 0 5px 5px;
  padding: 12px 12px 24px 12px;
  box-sizing: border-box;
}

.files {
  display: flex;
}

.files #left-pane {
  width: 25%;
  display: flex;
  flex-direction: column;
}

#left-pane .browser {
  padding: 4px;
  flex: auto;
}

.browser .file-entry {
  display: flex;
  flex-direction: row;
}

.browser .file {
  display: block;
  padding: 4px 0;
  cursor: pointer;
  flex: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.browser .file.selected {
  font-weight: 500;
}

.browser .file.disabled {
  color: #999;
}

.browser .file-action {
  display: none;
  font-size: 11pt;
}

.file-entry:hover {
  background-color: var(--theme-gray);
}

.file-entry:hover .file-action {
  display: block;
  padding: 4px 0;
  margin-left: 10px;
  cursor: pointer;
}

.file-action:hover {
  text-decoration: underline;
}

#left-pane #folder-toolbar {
  display: flex;
  justify-content: space-evenly;
}

.folder-action {
  font-size: 10pt;
  cursor: pointer;
}

.folder-action:hover{
  text-decoration: underline;
}

.files .file-content {
  width: 75%;
  min-height: 100%;
  padding: 6px;
}

.hidden {
  display: none;
}

.left {
  float: left;
}

.right {
  float: right;
}